section{
    display: flex;
    width:100vw;
    height:100vh;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
}
section img:hover{
    width: 33%;
    cursor: pointer;
}
body{
    background-color: #002855;
}
header{
    font-size: 56px;
    text-align: center;
    color: rgb(216,163, 16);
}